In [1]:
import tabula
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
path_to_pdf = "https://www.ictp-saifr.org/wp-content/uploads/2021/06/stringsreg616.pdf"
df_list = tabula.read_pdf(path_to_pdf, pages = "all")
#dfs_local=tabula.read_pdf("strings-table.pdf", pages = "all")

In [4]:
## I can only run this once, because it is changing df_list in some steps. Can I fix this?
for i,df in enumerate(df_list):
    if i == 0 :
        df_list[0].columns = df_list[0].iloc[1]   # Fix column names
        df_strings = df_list[0].drop([0,1]).reset_index(drop=True).astype({"No": int}).copy() # Start df_strings DF
        df_strings.columns.name=''
    else :
        df.loc[len(df)] = list(df.columns) # Adding column names to the bottom.
        df.columns = df_strings.columns  # Fix column names
        df_list_new = df.astype({"No": int}).sort_values('No').reset_index(drop=True).copy() # Transform 'No' column to int64, sort values in ascending order and reset indexes 
        df_strings = df_strings.append(df_list_new, ignore_index=True) # Append DF to the bottom of strings
        
df_strings = df_strings.set_index('No')
df_strings.head()

,Name,Institution,Country,Position
No,,,,
1,"Aalsma, Lars",University of Wisconsin-Madison,United States of America,Postdoc
2,"Abbasi, Navid",LZU,China,Faculty
3,"Abderrazaq, Abassi El",Ibn Tofail University,Morrocco,Graduate student
4,"Abdulhamid, Ibrahim Muhammad","Faculty of Science, Tanta University, Egypt",Egypt,Graduate student
5,"Abe, Yoshihiko",Kyoto Univ.,Japan,Graduate student

In [5]:
df_strings_BR = df_strings[(df_strings['Country'] == 'Brazil') | (df_strings['Country'] == 'Brasil')]#.sort_values('Institution')
df_strings_BR.head()

,Name,Institution,Country,Position
No,,,,
45,"Almeida, Lourdes de Maria",Opus Psicologia Clinica,Brasil,Faculty
46,"Almeida, Luz Gabriel",UFRN,Brazil,Graduate student
54,"Amado, Barragan Julian Jose",Universidade Federal de Pernambuco,Brasil,Postdoc
57,"Amaya, Eduardo Daniel",UFRJ,Brazil,Graduate student
68,"Andriolo, Patrick",University of São Paulo,Brasil,Undergraduate student

In [32]:
df_strings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2074 entries, 1 to 2074
Data columns (total 4 columns):
Name           2074 non-null object
Institution    2074 non-null object
Country        2074 non-null object
Position       2074 non-null object
dtypes: object(4)
memory usage: 81.0+ KB

In [33]:
df_strings[df_strings.Country == "Brasil"] = "Brazil"